.entry{
    display: flex;
    flex-direction: row ;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input::placeholder {
    color: black;
    font-family: "Roboto-i";
}

input[type="text"]{
    font-family: "Roboto";
    border: none;
    outline: none;
    padding-top: 4%;
    margin-right: 5%;
    margin-left: -2%;
    border-bottom: 3px solid #2E294E;
    background-color: #f7f9fd;

    transition: 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

input[type="text"]:focus{
    background-color: #FFF; 
    opacity: 0.75;
    border-bottom: 3px solid #ACBDBA;
    box-shadow: 0 .625rem 1.25rem rgba(0,0,0,.15);
    border-radius: 2.6px;
}

.input_poly{
    background-color: #2E294E;
    border: none;
    border-radius: 2.6px;
    color: #FFF9FB;
    height: 25px;
    padding: 3.5%;
    cursor: pointer;
    transition: 0.5s cubic-bezier(0.215, 0.610, 0.355, 1);
}
.input_trigo{
    background-color: #2E294E;
    border: none;
    border-radius: 2.6px;
    color: #FFF9FB;
    height: 25px;
    padding: 6.5%;
    cursor: pointer;
    transition: 0.5s cubic-bezier(0.215, 0.610, 0.355, 1);
}
.input_poly:hover, .input_trigo:hover{ 
    background-color:#ACBDBA;
}


.error {
    text-align: center;
    font-weight: bold;
    background-color: #D64045;
    border-radius: 2.6px;
    padding: 0.8%;
    opacity: 0.8;
    box-shadow: 0 .625rem 1.25rem rgba(0,0,0,.15);
    width: 12%;
    
}

.result {
    display: flex;
    flex-direction:column ;
    width: auto;
    padding-left: 3%;
    margin-top: 2.5%;
    border-radius: 2.6px;
    box-shadow: 0 .625rem 1.25rem rgba(0,0,0,.15);
    background-color: #fff;

    transition: transform 0.35s cubic-bezier(1, 0, 0, 1);
}

@media screen and (max-width: 1000px){
    .entry{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    input[type="text"]{
        width: 170%;
        padding: 13%;
    }
    input[type="submit"]{
        padding: 15%;
        width: 115%;
        margin: 0;
        margin-top: 18.5%;
    }
    .result{
        width: 100%;
    }
    #root {
        overflow: hidden;
    }
}
