{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@elki_8" />
    <meta name="twitter:creator" content="@elki_8" />
    <meta property="og:url" content="https://www.mathly.v6.army/" />
    <meta property="og:title" content="MathLy" />
    <meta property="og:description" content="Cacul mathématique niveau lycée" />
    <meta property="og:image" content="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ffr.ccunesco.ca%2F-%2Fmedia%2FImages%2FUnesco%2FBlog%2F2020%2F03%2FInternational-Day-of-Math.png" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/global_.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/input__.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/poly.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/home__.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/trigo.css' %}"/>
    <link rel="shortcut icon" type="image/png" href="{% static 'css/favicon.svg' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/function-plot/1.22.7/function-plot.js" integrity="sha512-MUHYAU7vRlaN0MVTEVPuh99xifmHD9kmqV9ehc8UYtsd99B+dP2TRT/N5wPTyocj9+/NSOgsS4u5cL5gTPl9eQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>    <!--npm i function-plot-->
    <title>MathLy</title>
</head>
    <div class="menu-btn">
        <h1 class="title_head"><a class="title_head" href="home">MathLy</a></h1>
                <button class="header"></button>
                <div class="menu-btn-burger"></div>
                <div class="nav_b">
                    <ul>
                        <li><a href="poly">Polynôme du second degré</a></li>
                        <li><a href="trigo">Trigonométrieee</a></li>
                    </ul>
                </div>
    </div>
